.modal {
  @mixin atSmall {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background-color: #e2e7e9;
  }
  &-form {
    @mixin atSmall {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      width: 50%;
      margin: 20vh auto;
    }
    & textarea {
      height: 300px;
      width: 40vw;
      resize: none;
      margin: 0 0 50px 0;
    }
    &-btn {
      max-width: 150px;
    }
  }
}
