.container {
  @mixin atSmall {
    display: flex;
    flex-direction: column;
  }
  @mixin atLarge {
    display: grid;
    grid-template-columns: 15vw auto;
  }
  &-plant {
    @mixin atLarge {
      background-color: #a7a2a9;
      height: 95vh;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  }
}
