.home {
  &-title {
    @mixin atSmall {
      text-align: center;
    }
  }
  &-desc {
    @mixin atSmall {
      text-align: justify;
      width: 95%;
      margin: 0 auto;
      line-height: 1.25;
    }
    @mixin atLarge {
      width: 75%;
    }
    &--error {
      @mixin atSmall {
        width: 95%;
        margin: 0 auto;
        font-size: 0.75rem;
        padding: 15px 0 0 0;
      }
      @mixin atLarge {
        width: 75%;
      }
    }
  }
}
