.nav {
  @mixin atSmall {
    display: flex;
  }
  &-link {
    @mixin atSmall {
      background-color: $titleBackgroundColor;
      color: $titleFontColor;
      flex-grow: 1;
      padding: 10px;
      border: 1px solid $borderColor;
      text-align: center;
    }
  }
}
