.nav {
  @mixin atSmall {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  &-link {
    @mixin atSmall {
      flex-grow: 1;
      text-align: center;
      padding: 10px 0;
      border: 1px solid black;
      color: black;
    }
  }
}
