.plant {
  @mixin atSmall {
    text-align: center;
  }
  &-desc {
    @mixin atSmall {
      text-align: justify;
      width: 95%;
      margin: 0 auto;
      grid-column: 1 / span 2;
      line-height: 1.5;
    }
  }
  &-name {
    @mixin atSmall {
      grid-column: 1 / span 2;
    }
  }
  &-title {
    &-loc {
      @mixin atSmall {
        grid-column: 2;
        grid-row: 2;
      }
    }
  }
}
