* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: "Open Sans", sans-serif;
  color: #08090a;
  background-color: #a7a2a9;
  @mixin atLarge {
    width: 80%;
    margin: 0 auto;
  }
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
a {
  text-decoration: none;
  color: black;
}
